body {
    background-color: #f3f4f6; /* Set the background color of the body to gray */
    margin: 0; /* Remove default margin */
    min-height: 100vh; /* Ensure that the body fills the entire height of the viewport */
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }